.content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

h2 {
  padding: 0.5rem 3rem;
}

.vehicle__brand {
  grid-column: 1/4;
  grid-row: 1;
}

.vehicle__model {
  grid-column: 1/4;
  grid-row: 2;
}

.vehicle__licence-plate {
  grid-column: 1/4;
  grid-row: 3;
}

.vehicle__status {
  grid-column: 5/8;
  grid-row: 3;
}

.vehicle__insurance-expiration-date {
  grid-column: 5/8;
  grid-row: 1;
}

.vehicle__control-renewal-date {
  grid-column: 5/8;
  grid-row: 2;
}
