<h2 mat-dialog-title>Ajouter ou modifier les informations d'un véhicule</h2>
<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography content">

    <mat-form-field class="vehicle__brand" appearance="outline">
      <mat-label>Marque du véhicule</mat-label>
      <mat-select [(value)]="selectedBrand" (selectionChange)="onBrandSelected($event.value)">
        @for (brand of uniqueBrands; track brand) {
          <mat-option [value]="brand">{{ brand }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="vehicle__model" appearance="outline">
      <mat-label>Modèle du véhicule</mat-label>
      <mat-select formControlName="vehicleTypeId">
        @for (type of vehicleModelsByBrand; track type) {
          <mat-option [value]="type.id">
            {{ type.model }}
            <span *ngIf="type.id === currentVehicleType?.id" class="current-model-indicator">
          (actuel)
        </span>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="vehicle__licence-plate" appearance="outline">
      <mat-label>Plaque d'immatriculation</mat-label>
      <input matInput formControlName="licensePlate">
    </mat-form-field>

    <mat-form-field class="vehicle__insurance-expiration-date" appearance="outline">
      <mat-label>Expiration de l'assurance</mat-label>
      <input matInput [matDatepicker]="insurancePicker" formControlName="endInsurance">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="insurancePicker"></mat-datepicker-toggle>
      <mat-datepicker #insurancePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="vehicle__control-renewal-date" appearance="outline">
      <mat-label>Renouvellement du contrôle technique</mat-label>
      <input matInput [matDatepicker]="controlPicker" formControlName="endTechnicalControl">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="controlPicker"></mat-datepicker-toggle>
      <mat-datepicker #controlPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="vehicle__status" appearance="outline">
      <mat-label>Statut</mat-label>
      <mat-select formControlName="status">
        @for (option of statusOptions; track option) {
          <mat-option [value]="option.value">{{ option.display }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Annuler</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="vehicleForm.invalid">Enregistrer</button>
  </mat-dialog-actions>
</form>
