<div class="card">
  <div class="card__time">
    <p>10:00 - 12:30</p>
  </div>
  <div class="name">
    Nour-Eddine BELLAOUD
  </div>
  <div class="car">
    <span class="vehicle__brand">Renault</span>
    <span class="vehicle__model">Kangoo</span>
    <span class="vehicle__licence-plate">DF-212-QG</span>
  </div>
  <div class="card__icons" (click)="openDialog()">
    <svg class="svg-icon" height="100" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100" width="100" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
      <path d="M50,35.7V50L60.7,60.7M82.1,50A32.1,32.1,0,1,1,50,17.9,32.1,32.1,0,0,1,82.1,50Z" stroke-width="8">
      </path>
    </svg>
  </div>
</div>
