<div class="card">
  <div class="card-content">
    <span class="card-heading">
      <p>Supprimer le véhicule ?</p>
      <button class="exit-button" mat-dialog-close>
        <span class="icon"><i class="fa-solid fa-xmark" style="color: gray;"></i></span>
      </button>
    </span>
    <p class="card-description">Cette action sera irréversible.</p>
  </div>
  <div class="card-button-wrapper">
    <button class="card-button secondary" mat-dialog-close>Annuler</button>
    <button class="card-button primary" (click)="onDelete()">Supprimer</button>
  </div>
</div>
