<div class="card">
  <div class="image_container">
    <img src="/images/kangoo.png" alt="Car picture">
  </div>

  <div class="informations">
    <div class="top">
      <div class="line">
        <span class="title">Renault</span>
        <span class="title">•</span>
        <span class="sub_title">Kangoo</span>
      </div>
      <div class="description">
        <span class="plate">DH-212-QG</span>
      </div>
    </div>

    <div class="line">
      <span class="information_title">N° de carte grise :</span>
      <span class="description">2009AS05284</span>
    </div>

    <div class="line">
      <span class="information_title">Date d'expiration de l'assurance :</span>
      <span class="description">15 août 2025</span>
    </div>

    <div class="line">
      <span class="information_title">Date de renouvellement du contrôle technique :</span>
      <span class="description">29 mars 2025</span>
    </div>
  </div>

  <div class="action">
    <button class="noselect" (click)="openDialog()">
      <span class="text edit">Modifier</span>
      <span class="icon"><i class="fa-solid fa-pen" style="color: white;"></i></span>
    </button>

    <button class="noselect">
      <span class="text delete">Supprimer</span>
      <span class="icon"><i class="fa-solid fa-trash" style="color: white;"></i></span>
    </button>
  </div>
</div>
