<section class="main">
    <section class="container">
        <section class="header">
            <span>Parc automobile</span>
        </section>
        <section class="cards">
            <app-car-card></app-car-card>
            <app-car-card></app-car-card>
            <app-car-card></app-car-card>
            <app-car-card></app-car-card>
            <app-car-card></app-car-card>
            <app-car-card></app-car-card>
            <app-car-card></app-car-card>
            <div class="add-car-card" (click)="openDialog()">
                <i class="fa-solid fa-plus fa-5x"></i>
                <span>Ajouter un véhicule</span>
            </div>
        </section>
    </section>
</section>
