<section class="main">
  <section class="container">
    <section class="header">
      <span>Vue d'ensemble</span>
    </section>
    <section class="content">
      <section class="reservations">
        <section class="sub__header">
          <span>Réservations à venir</span>
        </section>
        <div class="cards reservations">
          <ng-container *ngFor="let reservation of reservations">
            <app-incoming-reservation-card [reservation]="reservation"/>
          </ng-container>
        </div>
      </section>
      <section class="notifications">
        <section class="sub__header">
          <span>Notifications</span>
        </section>
        <div class="cards notifications">
        </div>
      </section>
      <section class="vehicles">
        <section class="sub__header">
          <span>Véhicules de l'agence</span>
        </section>
        <div class="cards cars">
          <ng-container *ngFor="let vehicle of vehicles">
            <app-car-summary-card [vehicle]="vehicle"></app-car-summary-card>
          </ng-container>
        </div>
      </section>
    </section>
  </section>
</section>
