@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
  margin: 0;
  padding: 0;
  background-color: #FCFCFC;
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.funnel-sans-regular {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.funnel-sans-bold {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
