.content {
  padding: 2rem 2rem 1rem 2rem;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-around;

  i {
    scale: 1.5;
  }
}

.alert {
  font-weight: 600;
  color: rgba(107, 114, 128, 1);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem 0;
  color: rgba(107, 114, 128, 1);
}

mat-dialog-actions {
  padding: 0;
}
